* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e9ebee;
}
.sec-navbar {
    // border: 1px solid red;
    background-color: #4267b2;
    width: 100%;
    position: fixed;
    top: 0;
    .navbar {
        margin: auto;
        width: 80%;
        // border: 1px solid #000;
        display: flex;
        justify-content: flex-start;

    }
    .flex-item {
        // border: 1px solid #000;
        min-height: 30px;
        max-height: 30px;
    }
    .icon {
        width: 30px;
        position: relative;
        margin-right: 10px;
        i {
            position: absolute;
            top: -2px;
            font-size: 2em;
            color: white;
        }
    }
    .search-bar {
        display: flex;
        flex-grow: 0.5;
        input {
            outline: none;
            border: none;
            padding-left: 5px;
            flex-grow: 2;
        }
        .search-icon-button {
            background-color: #f5f6f7;
            padding: 0 10px;
            border: 1px solid #f5f6f7;
            border-radius: 0 2px 2px 0;
        }
    }
    .tabs {
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
    }
    .tab-container {
        width: 80%;
        display: flex;
        // justify-content: center;
        .user-icon {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background: url('/style/images/user.jpg') no-repeat;
            background-size: cover;
            margin-right: 5px;
        }
        .ul {
            display: flex;
            align-items: center;
            .tab:nth-of-type(1) {
                display: flex;
            }
            .tab {
                text-transform: capitalize;
                padding: 4px 10px;
                position: relative;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                .line {
                    position: absolute;
                    width: 1px;
                    top: 0;
                    right: 0;
                    height: 50%;
                    transform: translateY(50%);
                    border-right: 1px solid #0000003b;
                }
            }
            .tab:hover {
                background-color: rgba(0, 0, 0, 0.1);
                i {
                    color: white;
                }
            }
            .fab,
            .fas {
                color: #1a2947;
                font-size: large;
            }
            .messages,
            .notification {
                position: relative;

            }
            .notification-counter {
                position: absolute;
                width: 11px;
                height: 15px;
                background-color: red;
                top: 0;
                right: 0;
                transform: translate(-36%, 12%);
                border-radius: 3px;
                font-size: 10px;
                padding-left: 2px;
            }
            .dropdown {
                position: absolute;
                background-color: #fff;
                border: 1px solid rgba(100, 100, 100, .4);
                border-radius: 0 0 2px 2px;
                box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
                color: #1d2129;
                display: none;
                left: 50%;
                top: 122%;
                transform: translateX(-50%);
                width: 400px;
                height: 500px;
                user-select: none;
                overflow: auto;
                cursor: default;
                //notification header
                .notification-header {
                    // height: 600px;
                    white-space: nowrap;
                    padding: 5px;
                    font-size: x-small;
                    cursor: default;
                    border-bottom: solid 1px #dddfe2;
                    span:nth-child(1) {
                        color: black;
                    }
                    span:nth-child(2) {
                        color: rgb(100, 132, 236);
                        float: right;
                        margin-left: 5px;

                    }
                    span:nth-child(2):hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    span:nth-child(3):hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    span:nth-child(3) {
                        color: rgb(100, 132, 236);
                        float: right;
                    }
                }
                //message header
                .messages-header {
                    white-space: nowrap;
                    padding: 5px;
                    font-size: x-small;
                    cursor: default;
                    border-bottom: solid 1px #dddfe2;
                    span {
                        font-size: 12px;
                    }
                    span:nth-child(1) {
                        color: #5b5e64;
                        font-weight: bold;
                    }
                    span:nth-child(2) {
                        color: #a4a7ae;
                    }
                    span:nth-child(3) {
                        color: #6484ec;
                        float: right;
                        margin-left: 5px;

                    }
                    span:nth-child(3):hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    span:nth-child(4) {
                        float: right;
                        color: #6484ec;

                    }
                    span:nth-child(4):hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                //single message
                .single-message {
                    padding: 5px;
                    background-color: #edf2fa;
                    border-bottom: solid 1px #dddfe2;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .message-user-image {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 12px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .message-text {
                        flex-grow: 2;
                        p {
                            margin: 0;
                            color: #1d2129;
                        }
                        p:nth-child(1) {
                            font-weight: 500;
                        }
                        p:nth-child(2) {
                            white-space: nowrap;
                            overflow: hidden;
                            width: 260px;
                        }
                    }
                    .message-date {
                        .read-mark {
                            position: relative;
                        }
                        .read-mark::after {
                            content: "";
                            border: 1px solid #bbbbbb;
                            position: absolute;
                            display: inline-block;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            padding: 2px;
                            border-radius: 50%;
                        }
                    }
                }
                //message-footer
                .message-footer {
                    position: absolute;
                    top: 100%;
                    transform: translateY(-100%);
                    background-color: white;
                    width: 100%;
                    white-space: nowrap;
                    padding: 5px;
                    font-size: x-small;
                    cursor: default;
                    border-bottom: solid 1px #dddfe2;
                    span {
                        color: #6484ec;
                    }
                    span:nth-child(1) {
                        float: left;
                    }
                    span:nth-child(1):hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                    span:nth-child(2) {
                        float: right;
                    }
                    span:nth-child(2):hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
                //friend-request header
                .friend-requests-header {
                    white-space: nowrap;
                    padding: 5px;
                    font-size: x-small;
                    cursor: default;
                    border-bottom: solid 1px #dddfe2;
                    span {
                        font-size: 12px;
                    }
                    span:nth-child(1) {
                        color: #5b5e64;
                        font-weight: bold;
                    }
                    span:nth-child(2) {
                        float: right;
                        margin-left: 5px;
                        color: #6484ec;
                    }
                    span:nth-child(2):hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    span:nth-child(3) {
                        float: right;
                        color: #6484ec;
                    }
                    span:nth-child(3):hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                //friend request footer
                .friend-request-footer {
                    position: absolute;
                    bottom: 0;
                    background-color: white;
                    width: 100%;
                    text-align: center;
                    p {
                        margin: 0;
                        cursor: pointer;
                        border-bottom: solid 1px #dddfe2;
                        color: #6484ec;
                    }
                    p:hover {
                        text-decoration: underline;
                    }
                }
                //friend-request-container
                .friend-request-container {
                    height: 89%;
                    overflow: auto;
                    .single-friend-request {
                        display: flex;
                        padding: 5px;
                        border-bottom: 1px solid #dddfe2;
                        .user-image {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right: 12px;
                            img {
                                width: 100%;
                            }
                        }
                        .button-container {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            button {
                                border: none;
                            }
                            
                            button:nth-child(1) {
                                margin-right: 5px;
                                background-color: #4267b2;
                                color: #ffffff;
                                outline: none;
                                padding: 2px 5px;
                                border-radius: 2px;
                            }
                            button:nth-child(2) {
                                background-color: #f5f6f7;
                                color: #4b4f56;
                                outline: none;
                                padding: 2px 5px;
                                border-radius: 2px;
                                border: 1px solid #dddfe2;
                            }
                            button:nth-child(1):hover {
                                background-color: #4267b2db;
                            }
                            button:nth-child(2):hover{
                                background-color: #343a4029;
                            }
                        }
                    }
                }

            }
            //scrollbar styling dropdown and friend-request-container
            .dropdown::-webkit-scrollbar,
            .friend-request-container::-webkit-scrollbar {
                width: 10px;
                height: 50px !important;
            }
            .dropdown::-webkit-scrollbar-track,
            .friend-request-container::-webkit-scrollbar-track {
                background: transparent;
            }
            .dropdown::-webkit-scrollbar-thumb,
            .friend-request-container::-webkit-scrollbar-thumb {
                background: rgba(136, 136, 136, 0.555);
                border-radius: 5px;
            }
            .dropdown::-webkit-scrollbar-thumb:hover,
            .friend-request-container::-webkit-scrollbar-thumb:hover {
                background: rgba(136, 136, 136, 0.747);
            }

            //overflow hidden
            .messages > .dropdown {
                overflow: hidden;
            }
            //overflow hidden
            //temporary displaying block friend-request dropdown
            .friend-requests > .dropdown {
                // display: block;
                overflow: hidden;
            }
            //temporary displaying block friend-request dropdown
            .friend-requests:hover .dropdown,
            .messages:hover .dropdown,
            .notification:hover .dropdown {
                display: block;
            }
            .notification-heading-text {
                text-transform: uppercase;
                background-color: #f5f6f7;
                color: #a7aab1;
                margin: 0;
                padding: 5px;
                border-bottom: solid 1px #dddfe2;
                cursor: default;
            }
            .single-notification {
                padding: 5px;
                background-color: #edf2fa;
                border-bottom: solid 1px #dddfe2;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            .notifictaion-user-image {
                display: block;
                height: 48px;
                margin-right: 12px;
                width: 48px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .single-notification .notification-text {
                p {
                    font-size: smaller;
                    color: #1d2129;
                    width: 45ch;
                    overflow: hidden;
                }
                span:nth-child(1) {
                    font-weight: 500;
                }
                span:nth-child(2) {
                    font-weight: 500;
                }
            }
            .single-notification:hover {
                background-color: #e4e9f1;
            }
        }
    }
}
