.main {
    .user-navbar-posts {
        padding: 10px;
    }
    .user-navbar {
        display: flex;
        flex-direction: column;
        flex-grow: 0.1;
        padding: 5px;
        width: 20%;
        margin-left: 11%;
        position: fixed;
        .user-itself {
            display: flex;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 12px;
            }
            p {
                margin: 0;
            }
        }
        .others {
            margin-top: 10px;
        }
        .others div.active,
        .user-tab:hover {
            font-weight: 500;
            background-color: #f5f6f7;
            border: 1px solid #dddfe2;
            cursor: pointer;
        }
        .others > div {
            padding: 0 5px;
            color: #1d2129;
            border: 1px solid transparent;
            i {
                margin-right: 19px;
                color: #00a3ff;
                border-radius: 2px;
            }
        }

    }
    .user-posts {
        width: 30%;
        border: 1px solid;
        margin-left: 32%;
    }
}
