* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebee;
}

.sec-navbar {
  background-color: #4267b2;
}
.sec-navbar .navbar {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: flex-start;
}
.sec-navbar .flex-item {
  min-height: 30px;
  max-height: 30px;
}
.sec-navbar .icon {
  width: 30px;
  position: relative;
  margin-right: 10px;
}
.sec-navbar .icon i {
  position: absolute;
  top: -2px;
  font-size: 2em;
  color: white;
}
.sec-navbar .search-bar {
  display: flex;
  flex-grow: 0.5;
}
.sec-navbar .search-bar input {
  outline: none;
  border: none;
  padding-left: 5px;
  flex-grow: 2;
}
.sec-navbar .search-bar .search-icon-button {
  background-color: #f5f6f7;
  padding: 0 10px;
  border: 1px solid #f5f6f7;
  border-radius: 0 2px 2px 0;
}
.sec-navbar .tabs {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}
.sec-navbar .tab-container {
  width: 80%;
  display: flex;
}
.sec-navbar .tab-container .user-icon {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: url("/style/images/user.jpg") no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.sec-navbar .tab-container .ul {
  display: flex;
  align-items: center;
}
.sec-navbar .tab-container .ul .tab:nth-of-type(1) {
  display: flex;
}
.sec-navbar .tab-container .ul .tab {
  text-transform: capitalize;
  padding: 4px 10px;
  position: relative;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .tab .line {
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  height: 50%;
  transform: translateY(50%);
  border-right: 1px solid #0000003b;
}
.sec-navbar .tab-container .ul .tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sec-navbar .tab-container .ul .fab,
.sec-navbar .tab-container .ul .fas {
  color: #1a2947;
  font-size: large;
}
.sec-navbar .tab-container .ul .messages,
.sec-navbar .tab-container .ul .notification {
  position: relative;
}
.sec-navbar .tab-container .ul .notification-counter {
  position: absolute;
  width: 11px;
  height: 15px;
  background-color: red;
  top: 0;
  right: 0;
  transform: translate(-36%, 12%);
  border-radius: 3px;
  font-size: 10px;
  padding-left: 2px;
}
.sec-navbar .tab-container .ul .dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  color: #1d2129;
  display: none;
  left: 50%;
  top: 122%;
  transform: translateX(-50%);
  width: 400px;
  height: 500px;
  user-select: none;
  overflow: auto;
  cursor: default;
}
.sec-navbar .tab-container .ul .dropdown .notification-header {
  white-space: nowrap;
  padding: 5px;
  font-size: x-small;
  cursor: default;
  border-bottom: solid 1px #dddfe2;
}
.sec-navbar .tab-container .ul .dropdown .notification-header span:nth-child(1) {
  color: black;
}
.sec-navbar .tab-container .ul .dropdown .notification-header span:nth-child(2) {
  color: #6484ec;
  float: right;
  margin-left: 5px;
}
.sec-navbar .tab-container .ul .dropdown .notification-header span:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .notification-header span:nth-child(3):hover {
  text-decoration: underline;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .notification-header span:nth-child(3) {
  color: #6484ec;
  float: right;
}
.sec-navbar .tab-container .ul .dropdown .messages-header {
  white-space: nowrap;
  padding: 5px;
  font-size: x-small;
  cursor: default;
  border-bottom: solid 1px #dddfe2;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span {
  font-size: 12px;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span:nth-child(1) {
  color: #5b5e64;
  font-weight: bold;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span:nth-child(2) {
  color: #a4a7ae;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span:nth-child(3) {
  color: #6484ec;
  float: right;
  margin-left: 5px;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span:nth-child(3):hover {
  text-decoration: underline;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span:nth-child(4) {
  float: right;
  color: #6484ec;
}
.sec-navbar .tab-container .ul .dropdown .messages-header span:nth-child(4):hover {
  text-decoration: underline;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .single-message {
  padding: 5px;
  background-color: #edf2fa;
  border-bottom: solid 1px #dddfe2;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-user-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-user-image img {
  width: 100%;
  height: 100%;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-text {
  flex-grow: 2;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-text p {
  margin: 0;
  color: #1d2129;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-text p:nth-child(1) {
  font-weight: 500;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-text p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  width: 260px;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-date .read-mark {
  position: relative;
}
.sec-navbar .tab-container .ul .dropdown .single-message .message-date .read-mark::after {
  content: "";
  border: 1px solid #bbbbbb;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 50%;
}
.sec-navbar .tab-container .ul .dropdown .message-footer {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  background-color: white;
  width: 100%;
  white-space: nowrap;
  padding: 5px;
  font-size: x-small;
  cursor: default;
  border-bottom: solid 1px #dddfe2;
}
.sec-navbar .tab-container .ul .dropdown .message-footer span {
  color: #6484ec;
}
.sec-navbar .tab-container .ul .dropdown .message-footer span:nth-child(1) {
  float: left;
}
.sec-navbar .tab-container .ul .dropdown .message-footer span:nth-child(1):hover {
  cursor: pointer;
  text-decoration: underline;
}
.sec-navbar .tab-container .ul .dropdown .message-footer span:nth-child(2) {
  float: right;
}
.sec-navbar .tab-container .ul .dropdown .message-footer span:nth-child(2):hover {
  cursor: pointer;
  text-decoration: underline;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header {
  white-space: nowrap;
  padding: 5px;
  font-size: x-small;
  cursor: default;
  border-bottom: solid 1px #dddfe2;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header span {
  font-size: 12px;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header span:nth-child(1) {
  color: #5b5e64;
  font-weight: bold;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header span:nth-child(2) {
  float: right;
  margin-left: 5px;
  color: #6484ec;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header span:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header span:nth-child(3) {
  float: right;
  color: #6484ec;
}
.sec-navbar .tab-container .ul .dropdown .friend-requests-header span:nth-child(3):hover {
  text-decoration: underline;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  text-align: center;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-footer p {
  margin: 0;
  cursor: pointer;
  border-bottom: solid 1px #dddfe2;
  color: #6484ec;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-footer p:hover {
  text-decoration: underline;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container {
  height: 89%;
  overflow: auto;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #dddfe2;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .user-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .user-image img {
  width: 100%;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .button-container button {
  border: none;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .button-container button:nth-child(1) {
  margin-right: 5px;
  background-color: #4267b2;
  color: #ffffff;
  outline: none;
  padding: 2px 5px;
  border-radius: 2px;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .button-container button:nth-child(2) {
  background-color: #f5f6f7;
  color: #4b4f56;
  outline: none;
  padding: 2px 5px;
  border-radius: 2px;
  border: 1px solid #dddfe2;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .button-container button:nth-child(1):hover {
  background-color: #4267b2db;
}
.sec-navbar .tab-container .ul .dropdown .friend-request-container .single-friend-request .button-container button:nth-child(2):hover {
  background-color: #343a4029;
}
.sec-navbar .tab-container .ul .dropdown::-webkit-scrollbar,
.sec-navbar .tab-container .ul .friend-request-container::-webkit-scrollbar {
  width: 10px;
  height: 50px !important;
}
.sec-navbar .tab-container .ul .dropdown::-webkit-scrollbar-track,
.sec-navbar .tab-container .ul .friend-request-container::-webkit-scrollbar-track {
  background: transparent;
}
.sec-navbar .tab-container .ul .dropdown::-webkit-scrollbar-thumb,
.sec-navbar .tab-container .ul .friend-request-container::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.555);
  border-radius: 5px;
}
.sec-navbar .tab-container .ul .dropdown::-webkit-scrollbar-thumb:hover,
.sec-navbar .tab-container .ul .friend-request-container::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.747);
}
.sec-navbar .tab-container .ul .messages > .dropdown {
  overflow: hidden;
}
.sec-navbar .tab-container .ul .friend-requests > .dropdown {
  overflow: hidden;
}
.sec-navbar .tab-container .ul .friend-requests:hover .dropdown,
.sec-navbar .tab-container .ul .messages:hover .dropdown,
.sec-navbar .tab-container .ul .notification:hover .dropdown {
  display: block;
}
.sec-navbar .tab-container .ul .notification-heading-text {
  text-transform: uppercase;
  background-color: #f5f6f7;
  color: #a7aab1;
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px #dddfe2;
  cursor: default;
}
.sec-navbar .tab-container .ul .single-notification {
  padding: 5px;
  background-color: #edf2fa;
  border-bottom: solid 1px #dddfe2;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sec-navbar .tab-container .ul .notifictaion-user-image {
  display: block;
  height: 48px;
  margin-right: 12px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.sec-navbar .tab-container .ul .notifictaion-user-image img {
  width: 100%;
  height: 100%;
}
.sec-navbar .tab-container .ul .single-notification .notification-text p {
  font-size: smaller;
  color: #1d2129;
  width: 45ch;
  overflow: hidden;
}
.sec-navbar .tab-container .ul .single-notification .notification-text span:nth-child(1) {
  font-weight: 500;
}
.sec-navbar .tab-container .ul .single-notification .notification-text span:nth-child(2) {
  font-weight: 500;
}
.sec-navbar .tab-container .ul .single-notification:hover {
  background-color: #e4e9f1;
}

/*# sourceMappingURL=style.css.map */
